venv
.venv
.env
.terraform
__pycache__
.pytest_cache
.coverage
*.ipynb
*.csv
*.xml
*.html
*.json
*.pdf
*.svg
.DS_Store
*.tfvars
*.tfstate
*.tfstate.backup
*.terraform.lock.hcl
*.terraform.tfstate.lock.info
